

.ctx-form {
	&-field {
		display: block;
	}
}


@media screen and (min-width: 1024px) {
	
	.ctx-form {
		display: grid;
		grid-template-columns: repeat(6, minmax(0, 1fr));
	}

	.ctx-form-field {
		
	}

	.ctx-form-field-w2 {
		grid-column: span 2;
	}

	.ctx-form-field-w3 {
		grid-column: span 3;
	}

	.ctx-form-field-w4 {
		grid-column: span 4;
	}

	.ctx-form-field-w5 {
		grid-column: span 5;
	}

	.ctx-form-field-w1 {
		grid-column: span 1;
	}

	.ctx-form-field-w6 {
		grid-column: span 6;
	}
	
}